%h1 Lista Rondas

%table.pure-table
    %thead
        %tr
            %th Nº Ronda
            %th Temperatura promedio (°c) 
            %th Color del número ganador 
            %th Tiempo para la próxima ronda
            %th Acelerar Ronda

    %tbody
        - @roulettes.each.with_index do |roulette, index|
            %tr{:class => index.odd? ? "pure-table-odd" : ""}
                %td= roulette.number_rounds
                %td= Weather.week_avg
                %td{:class => number_to_color(roulette.winning_number)}
                    = number_to_color(roulette.winning_number).capitalize
                - if roulette == @roulettes.last
                    %td 
                        %span.timer 
                - else
                    %td 0
                - if roulette == @roulettes.last
                    %td= button_to 'Acelerar Ronda!', roulette_path('', number_rounds: roulette.number_rounds + 1)
                - else
                    %td