%p#notice= notice

=render 'roulette_info'

=render 'round_table' 

=render 'round_detail'
  
%br

%p= link_to 'Añadir Jugadores', new_player_path
%p= link_to 'Volver a la pantalla principal', '/roulettes'